{% extends 'public/content.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-xs-12 col-sm-12 col-md-10 push-md-1 col-lg-8 push-lg-2">
            <div class="wt-registerformhold">
                <div class="wt-registerformmain">
                    <div class="wt-registerhead">
                        <div class="wt-title">
                            <h3>Deleting Post</h3>
                        </div>
                    </div>
                    <div class="wt-joinforms">
                        <form class="wt-formtheme wt-formregister" method="POST">
                            {% csrf_token %}
                            <fieldset class="wt-registerformgroup">
                                <p class="text-center bold">Are you sure you want to delete post "{{ object.title }}"</p>
                                <div class="form-group">
                                    <button type="submit" class="wt-btn">Yes, Delete</button>
                                    <a href="{% url 'blog-detail' object.id %}"  class="btn btn-outline-secondary">Cancel</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}